:root {
  --bg: #f2ede7;
  --primary: #66b275;
}

body {
  background-color: var(--bg) !important;
  /* background-color: white !important; */
}

/* Navbar */
.ui.menu {
  background-color: var(--primary);
}

.item {
  color: white !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

/* Footer */
.ui.inverted.vertical.segment {
  background-color: var(--primary);
}
