body {
  /* background-color: #eaeaea !important; */
  background-color: white !important;
}

.ui.menu {
  /* background-color: #31352e; */
  background-color: black;
}

.item {
  color: white !important;
}

.react-datepicker-wrapper {
  width: 100%;
}