:root {
  --bg: #f2ede7;
  --primary: #66b275;
}

body {
  background-color: var(--bg) !important;
}

/* Navbar */
.ui.menu {
  background-color: var(--primary);
  height: 5rem;
}

.navitem {
  color: white !important;
}

/* Homepage background */
.main-bg {
  min-width: 100%;
  min-height: 10.3rem;
  position: absolute;
  top: 5rem;
  left: 0;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url("http://www.colourlovers.com/wallPaper/1200x800/n/465753/COLOURlovers.com-Navaho.png"); */
  background-color: var(--primary);
}

.title {
  font-size: 5rem;
}

.tests-wrapper,
.stats-wrapper,
.management-wrapper,
.help-wrapper,
.footer-wrapper {
  margin-right: -100%; /* Break out of the main wrapper */
  margin-left: -100%;
}

.tests-wrapper,
.management-wrapper {
  background-color: var(--primary);
}

.ui.two.column.grid.tests,
.ui.two.column.grid.stats,
.ui.two.column.grid.help,
.ui.two.column.grid.management {
  display: flex;
  align-items: center;

  height: 50vh;
  width: 40%;
  margin: auto;
  padding: 2rem;
  line-height: 1.7rem;
}

/* Stats */
.ui.two.column.grid.stats {
  justify-content: center;
}

/* Help */
.ui.two.column.grid.help {
  justify-content: center;
  margin-bottom: 3rem;
}

.react-datepicker-wrapper {
  width: 100%;
}

/* Footer */
.ui.inverted.vertical.segment {
  background-color: var(--primary);
}

.screening-test {
  text-align: left;
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
}

/* Quiz Component */
.options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
}

.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

.answerOption {
  border-top: 1px solid #eee;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 5rem;
  font-size: 16px;
  line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
  position: absolute;
  top: 20px;
  left: 38px;
  width: 28px;
  height: 28px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 50%;
  transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
  content: "";
  background-size: 27px;
  background: #b8e084;
  border-color: #8bc53f;
}

.result__title {
  line-height: 2.5rem;
  font-size: 3rem;
}
.tab{
  padding-bottom: 10em !important;
}
#patientusername{
  font-size: 45px;
  padding-bottom: 25px;
}